body{
    background-color: rgb(175, 237, 246);
}

h1{
    text-align: center;
}

table{
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th{
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
}

.hora{
    background-color: turquoise;
    width: 120px;
    color: white;
}

.patio{
    background-color: rgb(255, 0, 242);
    color: white;
    text-transform: uppercase;
}

.ofimatica{
    background-color: aquamarine;
}

.sistemes{
    background-color: tan;
}

.angles{
    background-color: coral;
}

.xarxes{
    background-color: beige;
}

.muntatge{
    background-color: rgb(229, 88, 88);
}

.digi{
    background-color: aliceblue;
}

.ipo{
    background-color: cadetblue;
}